@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:wght@400;700&display=swap');

:root{
  --Dark-blue: #102c5e;
  --Sky-blue:#87CEEB;
  --Light-gold:#F5F5DC;
  --Dark-gray:#595959;
  --Light-gray:hwb(0 59% 41%);
  --container-max: 1140px;
  --header-height: 70px; /* altura del header usada para posicionar botones fijos */
}

/* Box sizing y tipografía base responsiva */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* escala tipográfica fluida */
  font-size: clamp(14px, 1.6vw, 16px);
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--Dark-blue);
  background-color: #fff;
  line-height: 1.4;
}

/* imágenes y svgs no se desbordan */
img, svg, video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* contenedores centrados util */
.container {
  max-width: var(--container-max);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* enlaces accesibles */
a {
  color: inherit;
  text-decoration: none;
}

/* botones coherentes */
button {
  font: inherit;
}
