*{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.backGround{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   position: absolute;
   top: 0;
   left: 0;
    background-color: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(2px);          /* <--- desenfoca el fondo que hay detrás */
  -webkit-backdrop-filter: blur(2px);  /* Safari */
}
.container{
   margin: 0 auto;
   max-width: 800px;
   background-color: #f8e3e3;
   border: solid 1px rgb(248, 188, 188);
   padding: 1rem;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.close{
    display: none;
}
.iconContainer{
    display: flex;
    justify-content: center;
    
}
.icon{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 188, 188);
    padding: 1% 2% 1%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50px;
}
.insideIcon{
    font-size: 2rem;
}
.h1{
     font-size: 100%;
    text-align: center;
    font-weight: bold;
}

.p{
    text-align: center;
     font-size: 75%;
    color: #777777;
}
.btn{
    text-align: center;
    color: white;
    background-color: #E60000;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
    font-weight: bold;
    font-size: 70%;
    min-width: 50%;
}
@media (max-width: 768px) {
    .container{
        width: 90%;
        margin-left: 0.5rem; /* mantiene legibilidad en pantallas muy pequeñas */
    }
}

@media (max-width: 1280px) {
    .container{
        width: 90%;
    }
}
