.formContainer{
    display: flex;
    flex-direction: column;
    /* ancho fluido y acotado */
    width: clamp(280px, 35%, 480px);
    margin: 0 auto;
}

.txtInput{
    border-radius: 1rem;
    border: 1px solid #E7E7E7;
    height: 2.2rem;
    width: 100%;
    gap: 1rem;
    margin: 2% 0 2%;
    font-size: 0.95rem;
    padding-left: 3.2rem; /* espacio para icono absoluto */
    transition: border-color .12s;
}
.txtInput:focus{
    outline-color: #d9cfae; /* azul */
    color: var(--Dark-blue);
    border-color: var(--Dark-blue);
}
.checkbox{  
    padding: 0;
    width: 10%;
}
.emailLabel{
    position: relative;
}
.emailIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:12px;
    float: left;
}
.checkboxLabel{
    cursor: pointer;
    color: var(--Dark-blue);
    margin-left: 0;
    user-select: none;       
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;
}
.subMenu{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem;
}
.subMenu a{
    color: var(--Dark-blue);
}

.error{
    border: solid 1px red;
    background-color: #fcb7b7;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-radius: 6px;
}

.btnPrimary{
  font-family:"Nunito", monospace;
  font-weight: 600;
  background-color: var(--Dark-blue);
  color: white;
  border-radius: 2rem;
  text-align: center;
  padding: 10px;
}

.btnPrimary:hover{
  background-color: var(--Light-gold);
  color: var(--Dark-blue);
  cursor: pointer;
  border: solid 1px var(--Dark-blue);
}

/* Ajustes para tablets y móviles */
@media (max-width: 1280px) {
    .txtInput{
        padding-left: 3rem;
    }
    .emailIcon{
        left:10px;
    }
}

@media (max-width: 768px) {
    .formContainer{
         width: 90%;
    }
    .txtInput{
        padding-left: 2.8rem;
        font-size: 0.95rem;
    }
    .emailIcon{
        left:10px;
    }
}